<!doctype html>
<html lang="en">
<%- include('./_partials/head') %>
<body>
<div class="container px-4 mt-4">
    <h1 class="fs-1 fw-bold">TODONODE</h1>
    <h2 class="fw-lighter">Erreur</h2>
    <p><%= error.toString() %></p>
</div>

<%- include('./_partials/footer') %>

</body>
</html>